<%- include('partials/header') %>

<div class="jumbotron text-center">
  <div class="container">
    <i class="fas fa-key fa-6x"></i>
    <h1 class="display-3">You've Discovered ADMIN</h1>
    <p class="secret-text"><%= name %> is my hero.</p>
    <hr>
    <a class="btn btn-light btn-lg" href="/logout" role="button">Log Out</a>
    <a class="btn btn-light btn-lg" href="/<%= purpose %>/<%=username %>/task" role="button">Task</a>
    <a class="btn btn-light btn-lg" href="/<%= purpose %>/<%=username %>/otherdesk" role="button">See Other Desks</a>
    <a class="btn btn-light btn-lg" href="/<%= purpose %>/<%=username %>/chat" role="button">Chat</a>
    <a class="btn btn-dark btn-lg" href="/<%= purpose %>/<%=username %>/submituser" role="button">Submit a User</a>
  </div>
</div>

<%- include('partials/footer') %>
